.homepage {    
    padding: 0 20rem;
    height: calc(100vh - 5rem);
    
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .movie {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;

        width: 10rem;
        height: 2.5rem;
        padding: 2rem;
        background-color: #deab21;
        margin: 1rem;

        a {
            text-decoration: none;
            color: black; 
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

}
}