.description {
    font-family: Arial, Helvetica, sans-serif;
    

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 2rem;
        text-align: justify;
    }

    span {
        font-size: 1.5rem;         
        
        &:last-child {
            text-decoration: none;
            color: #deab21;
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
    }

    color: black;
    padding: 1rem 7rem;

}